<div id="right-box">
{{#each songs}}
<div class="{{album}}">
	{{title}} by {{artist}} on {{album}} 
	<button class="delete-message {{album}}">Delete</button>
	</div>
	{{/each}}

	{{!-- <button id ="more-button" album="seperation-top.">Load More &gt;</button> --}}	
</div>
</div>